.top-controls {
  --spectrum-switch-emphasized-text-color: #f8fafc;
  --spectrum-switch-emphasized-text-color-hover: #f8fafc;
  --spectrum-switch-emphasized-text-color-down: #f8fafc;
  --spectrum-switch-emphasized-text-color-selected-disabled: #cbd5e1;
}

.right-panel {
  --spectrum-label-text-color: #ffffff;
  --spectrum-slider-track-color: #ffffff;
  --spectrum-slider-fill-track-color: #1a07ea;
  --spectrum-slider-handle-border-color: #ffffff;
  --spectrum-slider-handle-border-color-hover: #ffffff;
  --spectrum-slider-handle-border-color-key-focus: #ffffff;
  --spectrum-slider-handle-border-color-down: #ffffff;
  --spectrum-slider-handle-background-color: #ffffff;
  --spectrum-slider-handle-background-color-down: #ffffff;
}
